:root {
  --primary-color: #a8ead5;
  --primary-color-darker: #7ddbbd;
  --primary-color-opacity: #a8ead5d8;
  --secondary-color: #fcd8cc;
  --secondary-color-darker: #f7bdaa;
  --secondary-color-opacity: #fcd8cce5;
  --tertiary-color: #8e6c90;
  --tertiary-color-darker: #825985;
  --tertiary-color-opacity: #8e6c90b7;
  --fourth-color: #fff7ec;
  --fourth-color-darker: #dfd2c0;
  --fourth-color-opacity: #fff7ecde;
  --primary-gradient: linear-gradient(to top right, #a8ead5, #7ddbbd);
  --secondary-gradient: linear-gradient(to top, #fcd8cce5, #fcd8cc);
  --tertiary-gradient: linear-gradient(to top, #8e6c90, #825985);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:active,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
  color: var(--tertiary-color);
  background: var(--primary-gradient);
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  background-color: var(--fourth-color);
  width: 100%;
  max-height: max-content;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.site-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1rem 2rem;
  background: var(--secondary-color-opacity);
  box-shadow: 0px 4px 10px 0px #735c757d;
  z-index: 70;
}

.site-header.sticky {
  position: fixed;
}

.logo {
  width: 80px;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}

.menu li {
  text-align: center;
}

.menu-item {
  display: block;
  width: max-content;
  text-align: center;
  padding: 0.8rem 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s linear;
  color: var(--tertiary-color) !important;
}

.menu-item:active,
.menu-btn:active,
.close-menu:active {
  transform: scale(0.9) !important;
}

.contact-btn,
.search-btn {
  background: var(--tertiary-gradient);
  border-radius: 50px;
  color: var(--fourth-color) !important;
  box-shadow: -2px 2px 10px 3px #bfa9c0a6;
}

.contact-btn:hover,
.search-btn:hover {
  opacity: 0.9;
}

.contact-btn {
  text-transform: uppercase;
  padding: 1rem 1.8rem;
  line-height: 1;
}

.menu-active {
  opacity: 1;
  transform: scale(1.2);
}

.menu-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--tertiary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  margin: 0 auto;
}

.menu-btn,
.close-menu {
  width: 30px;
  height: 30px;
  opacity: 0.9;
}

.menu-btn:hover,
.close-menu:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.site-header-content {
  color: var(--fourth-color);
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  padding-top: 10rem;
}

.site-header-content,
.site-footer {
  background-image: radial-gradient(
      circle at 44% 13%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 87% 84%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 46%,
      transparent 46%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 60%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 32%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 28%,
      transparent 28%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 12%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 34%,
      transparent 34%,
      transparent 100%
    ),
    radial-gradient(
      circle at 33% 60%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 29%,
      transparent 29%,
      transparent 100%
    ),
    radial-gradient(
      circle at 3% 11%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 60%,
      transparent 60%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 74%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 87%,
      transparent 87%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      rgba(142, 108, 144, 0.7176470588235294),
      rgb(142, 108, 144)
    );
}

.header-left,
.header-right {
  width: 50%;
}

.header-right {
  position: relative;
  padding-top: 3rem;
  text-align: right;
  height: fit-content;
  width: fit-content;
  margin-left: 9rem;
}

.welcome {
  text-transform: uppercase;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
  letter-spacing: 1px;
}

.header-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.header-describe {
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.explore {
  text-decoration: underline;
  cursor: pointer;
}

.searchbar {
  position: relative;
  height: max-content;
  margin-bottom: 3rem;
}

#search {
  all: unset;
  background: var(--fourth-color);
  height: 3rem;
  border-radius: 50px;
  width: 100%;
  padding: 0 2rem;
  width: -webkit-fill-available;
  color: var(--tertiary-color);
  font-weight: 600;
  text-transform: capitalize;
}

#search::placeholder {
  text-transform: capitalize;
  color: var(--tertiary-color-opacity);
  vertical-align: middle;
  opacity: 0.5;
}

.search-btn {
  position: absolute;
  right: 0;
  background: var(--tertiary-gradient);
  height: 3rem;
  padding: 0.6rem 1.8rem;
  /* padding-top: 0.75rem; */
  text-transform: uppercase;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.2s linear;
}

.search-btn:active {
  transform: scale(1.1);
}

.header-poster {
  display: block;
  max-width: 16rem;
  height: 22rem;
  border-radius: 33px;
  overflow: hidden;
  background-size: cover;
}

.header-price,
.header-off {
  position: absolute;
  font-weight: 800;
}

.header-price {
  padding: 0.5rem 1.2rem;
  right: 1rem;
  top: 4rem;
  border-radius: 24px;
  font-size: 1.4rem;
  color: var(--fourth-color);
  background: var(--tertiary-gradient);
}

.header-off {
  width: 6rem;
  height: 6rem;
  bottom: -1.5rem;
  left: -2rem;
  border-radius: 50px;
  text-align: center;
  align-content: center;
  font-size: 1.8rem;
  background: var(--primary-color-darker);
  color: var(--fourth-color);
}

.modal {
  position: fixed;
  width: 70%;
  height: 80%;
  background: var(--fourth-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 100;
  display: flex;
  overflow: hidden;
}

.overlay {
  position: fixed;
  background: #1f102cb7;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
}

.close-modal {
  align-self: flex-end;
  cursor: pointer;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
}

.close-modal:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.contact-us,
.write-us {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us {
  background: var(--secondary-color-darker);
  width: 40%;
  justify-content: space-evenly;
  box-shadow: 4px 0px 10px 0px #bfa9c07d;
}

.write-us {
  justify-content: center;
  width: 60%;
}

.title {
  text-transform: capitalize;
  font-style: italic;
  font-size: 1.3rem;
}

.contact-us-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.contact-us-item {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.contact-us-icon {
  width: 30px;
  height: 30px;
}
.contact-us-detail {
  text-transform: capitalize;
  font-weight: 600;
  font-style: italic;
  margin-left: 0.5rem;
  overflow: hidden;
}
.contact-us-detail a {
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
  margin-left: 0.5rem;
}

.links {
  text-decoration: underline;
  letter-spacing: 1px;
  display: block;
  width: 100%;
}
.links:active,
.links:focus {
  text-decoration: underline;
  opacity: 0.8;
}

.write-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-form * {
  all: unset;
  margin-top: 1rem;
}

#fullname,
#email,
#message {
  width: 90%;
  border: 1px solid var(--secondary-color-darker);
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
}

#fullname::placeholder,
#email::placeholder,
#message::placeholder {
  color: var(--secondary-color);
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 2px;
}

#message {
  height: 90px;
}

.write-form > input:first-child {
  margin-top: 3rem;
}

.submit-msg {
  align-self: flex-end;
  background: var(--secondary-color-darker);
  padding: 0.3rem 1rem 0.4rem 1rem;
  border-radius: 4px;
  color: var(--tertiary-color);
  margin-right: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}

.submit-msg:active {
  transform: scale(0.8);
}

.submit-msg:hover {
  opacity: 0.9;
}

.site-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 100%;
}

.section {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  margin-top: 6rem;
  width: 100%;
}

.section-header {
  text-transform: uppercase;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.section-name {
  margin: 1rem 0;
}

.section-title {
  color: var(--tertiary-color-darker);
  font-weight: 800;
}

.more-btn {
  display: block;
  height: fit-content;
  margin-top: 2.5rem;
  font-weight: 600;
  border-radius: 16px;
  background: var(--tertiary-gradient);
  padding: 0.5rem 1rem;
  font-size: smaller;
  color: var(--fourth-color) !important;
  transition: all 0.2s ease-in;
  opacity: 0.9;
  line-height: 1;
}

.more-btn:hover {
  opacity: 1;
}

.more-btn:active {
  transform: scale(0.9);
}

.cards-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 0.5rem;
  border-radius: 16px;
  border-top-right-radius: 30px;
  overflow: hidden;
  position: relative;
  height: 24rem;
  width: 280px;
  color: var(--tertiary-color-darker);
}

.card-poster {
  width: 100%;
  height: 11rem;
  overflow: hidden;
}

.card-picture {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.card-like {
  position: absolute;
  display: block;
  width: 3rem;
  height: 3rem;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 50px;
  background-color: #7ddbbd8e;
  backdrop-filter: blur(8px);
  background-image: url("../img/like.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  cursor: pointer;
  border: 4px solid #7ddbbd;
}

.card-like:hover {
  opacity: 0.9;
}

.card-body {
  height: 16rem;
  padding: 1rem;
  background: var(--secondary-color);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-transform: uppercase;
}

.card-properties {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card-property {
  border: 1px solid var(--tertiary-color-opacity);
  display: block;
  width: fit-content;
  padding: 0.1rem 0.15rem 0.15rem 0.15rem;
  margin: 0.1rem;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.card-property:first-child {
  margin-left: 0;
}

.card-description {
  height: 5.5rem;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: justify;
  margin: 1rem 0;
}

.card-order {
  display: flex;
  justify-content: space-between;
}

.prices {
  display: flex;
  flex-direction: column;
}

.card-price-label {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.card-price {
  font-weight: 800;
  font-size: 1.4rem;
}

.card-add {
  display: block;
  height: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  background: var(--tertiary-gradient);
  color: var(--fourth-color);
  text-transform: capitalize;
  margin-top: 0.4rem;
  cursor: pointer;
}

.card-add:hover {
  opacity: 0.9;
}

/* gallery */

.galleries .section-header {
  align-self: center;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

.tab {
  flex-grow: 1;
  text-align: center;
  padding: 0.6rem 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  background: var(--secondary-color-darker);
  color: var(--tertiary-color-darker);
  cursor: pointer;
  margin: 0.2rem;
  /* transition: background 1s linear; */
}

.tab-active {
  background: var(--tertiary-gradient);
  color: var(--secondary-color);
}

.tab-num {
  margin-right: 0.2rem;
}

.tab-content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.tab-content {
  margin: 1rem 0;
  /* display: grid; */
  grid-template: 15rem 10rem 15rem 10rem / auto auto;
  display: none;
}

.tab-content-active {
  display: grid;
}

.gallery-item {
  position: relative;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.gallery-overlay {
  width: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 200%;
  position: absolute;
  background: var(--tertiary-color-opacity);
  transition: all 0.3s ease;
}

.gallery-item:hover .gallery-overlay {
  left: 0;
  width: 100%;
}

.gallery-overlay-text {
  position: absolute;
  text-wrap: nowrap;
  overflow: hidden;
  font-weight: 600;
  color: var(--fourth-color);
  font-size: 1.2rem;
  font-style: italic;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.slider-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
  height: 20rem;
}

.slider {
  width: 100%;
  height: 100%;
  list-style: none;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide-picture-wrapper {
  display: block;
  height: 100%;
  width: 100%;
}

.slide-picture-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots {
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  border-radius: 24px;
  backdrop-filter: blur(8px);
  padding: 0.5rem;
  z-index: 15;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 24px;
  background: var(--secondary-color);
  margin-right: 0.5rem;
  cursor: pointer;
}

.dot-active {
  background: var(--tertiary-color);
  width: 1.3rem;
}

.slider-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  opacity: 0.9;
  z-index: 10;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  opacity: 0.8;
  background: #5f5f5f86;
  border-radius: 50%;
  backdrop-filter: blur(12px);
  border: 2px solid var(--secondary-color-opacity);
  color: var(--fourth-color);
  z-index: 6;
  text-align: center;
  padding-top: 0.35rem;
  font-size: 2rem;
  cursor: pointer;
}

.slider-btn-left {
  left: 2rem;
}

.slider-btn-right {
  right: 2rem;
}

/* footer */
.site-footer {
  margin-bottom: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.site-footer .section-header {
  padding: 3rem 18rem;
  margin: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--tertiary-color);
}

.site-footer .contact-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 50px;
  background: var(--primary-gradient);
  color: var(--tertiary-color-darker) !important;
  font-weight: 600;
  box-shadow: -1px 1px 4px 2px var(--tertiary-color-opacity);
}

.site-footer .section-name {
  color: var(--secondary-color);
  letter-spacing: 1px;
  font-size: larger;
}

.site-footer .section-title {
  color: var(--fourth-color);
}

.useful-links {
  list-style: none;
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.useful-links .useful-link {
  display: block;
  padding: 0.6rem 1rem;
  /* padding-top: 1rem; */
  text-transform: capitalize;
  color: var(--fourth-color-opacity);
  /* padding-top: 0.45rem; */
  border-radius: 4px;
  background: #7f5c8175;
}

.site-footer .logo {
  margin: 0 auto 3rem auto;
}

.copyright {
  text-align: center;
  color: var(--secondary-color);
  font-size: smaller;
  text-transform: capitalize;
  margin: 0.3rem 0 0.3rem 0;
  font-style: italic;
}

.hidden {
  visibility: hidden;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}
/* mobile */
@media (max-width: 767px) {
  .site-header {
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    transform: translateX(600px);
    right: 0;
    height: 100vh;
    padding: 3rem 0;
    background: var(--secondary-gradient);
    width: 60%;
    box-shadow: -4px 0px 10px 0px #bfa9c07d;
    z-index: 40;
  }

  .active-menu {
    transform: translateX(0px);
  }

  .menu-btn {
    visibility: visible;
  }

  .close-menu {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
  }

  .menu li {
    width: max-content;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .menu-item {
    font-size: 0.6rem;
  }

  .contact-btn {
    padding: 0.8rem 1.1rem;
  }

  .logo {
    width: 80px;
  }

  .modal {
    width: 94%;
    height: 90vh;
    flex-direction: column;
    align-items: center;
  }

  .contact-us {
    width: 100%;
    max-height: 50%;
    padding: 1rem 0.5rem;
    font-size: small;
    box-shadow: 0px 4px 10px 0px #bfa9c07d;
  }

  .contact-us-list {
    width: 70%;
  }
  .contact-us-item {
    margin-bottom: 0.3rem;
  }
  .contact-us-item:first-child {
    margin-top: 1rem;
  }

  .write-us {
    padding: 0.2rem;
    width: 90%;
    /* min-height: 50%; */
    height: -webkit-fill-available;
  }

  .write-form input:first-child {
    margin: 0;
  }
  .write-form * {
    margin-top: 0.3rem;
    font-size: 0.9rem;
  }

  .submit-msg {
    /* padding-top: 0.4rem; */
    box-shadow: 0px 4px 10px 0px #bfa9c07d;
  }

  .title {
    font-size: 0.8rem;
  }

  .write-us .title {
    margin: 0.5rem 0;
  }

  .site-header-content {
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 6rem 0;
  }

  .header-left {
    width: 90%;
  }

  .header-right {
    margin-left: unset;
    width: fit-content;
  }

  .header-describe {
    font-size: smaller;
  }

  .header-title {
    font-size: 2.4rem;
  }

  .site-body {
    padding: unset;
  }

  .cards-list {
    flex-wrap: wrap;
  }

  .card {
    width: 250px;
  }

  .section-header {
    margin: 1rem;
    font-size: 0.9rem;
  }

  .section-name {
    margin: 0.2rem 0;
  }

  .more-btn {
    font-size: 0.5rem;
    margin-top: 1.6rem;
    padding: 0.5rem 0.7rem;
    letter-spacing: 2px;
    text-wrap: nowrap;
  }

  .slider-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .slider-btn-left {
    left: 0.6rem;
  }
  .slider-btn-right {
    right: 0.6rem;
  }

  .site-footer .section-header {
    padding: 3rem 1rem;
  }

  .site-footer .contact-btn {
    font-size: 1rem;
    padding: 0;
    padding: 0.6rem 1rem !important;
    letter-spacing: normal;
  }

  .useful-links {
    margin: 1.5rem auto;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .useful-links li {
    width: fit-content;
    text-align: center;
  }

  .useful-link {
    width: fit-content;
    /* padding-top: 0.6rem; */
  }
}

@media (max-width: 1023px) {
  .searchbar {
    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  #search,
  .search-btn {
    height: 2.5rem;
  }

  .search-btn {
    padding: 0.6rem 1rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 768px) {
  .menu-btn,
  .close-menu {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
}
/* laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  .site-header-content {
    padding: 6rem;
    padding-top: 10rem;
  }
}
/* desktop */
@media (min-width: 1440px) {
}
